wikicorpus-model/src/main/xsd/xces/xcesHeader.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
	The XML Corpus Encoding Standard
	XCES Revision 0.4
		
	The XCES Header
-->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.xces.org/schema/2003"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:xces="http://www.xces.org/schema/2003" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xcesLink.xsd"/>
	<xs:include schemaLocation="xcesGlobal.xsd"/>
	<xs:include schemaLocation="xcesDatatypes.xsd"/>
	<!-- 0.4
		  
					 Import the definitions that allow the ANC files to be validated.
	 -->
	<xs:include schemaLocation="anc-xces.xsd"/>
	<!--
				 Types with a tei. prefix are types that are mapped onto TEI elements.  Most XCES element names are taken directly from 
				 the TEI, however some elements were either added, or the names changed.  The tei.* types provide a TEIform attribute that
				 is used to map the XCES type onto the closest available TEI element.
	  -->
	<xs:complexType name="tei.addressString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Several address types (i.e.
				pubAddress, eAddress etc.) are mapped to the TEI
				&lt;address&gt; element. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="xces:class.string">
				<xs:attribute name="TEIform" type="xs:string" default="address"/>
			</xs:restriction>
		</xs:complexContent>
	 </xs:complexType>
	<xs:complexType name="tei.authorString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">The author of the work being
				annotated. Map this to the TEI author element.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="xces:class.string">
				<xs:attribute name="TEIform" type="xs:string" default="author"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--
	 
	 -->
	<xs:complexType name="tei.conformanceStringBase" mixed="true">
		<xs:complexContent>
			<xs:restriction base="xces:class.string">
				<xs:attribute name="TEIform" type="xs:string" default="normalisation"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tei.conformanceString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">The CES level of conformance for the
				text or corpus.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:tei.conformanceStringBase">
				<xs:attribute name="level" default="1">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
							<xs:enumeration value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- 
	 
	 -->
	<xs:complexType name="tei.dateStringBase" mixed="true">
		<xs:complexContent>
			<xs:restriction base="xces:class.string">
				<xs:attribute name="TEIform" type="xs:string" default="date"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tei.dateString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en"> A calendar date in any format. The
				XCES date types (pubDate, changeDate, etc.) are mapped onto the
				TEI &lt;date&gt; element. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:tei.dateStringBase">
				<xs:attribute name="value" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- 
	 
	 -->
	<xs:complexType name="tei.itemString" mixed="true">
		<xs:complexContent>
			<xs:restriction base="xces:class.string">
				<xs:attribute name="TEIform" type="xs:string" default="item"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- 
	 
	 -->
	<xs:complexType name="tei.measureString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Several XCES measure elements
				(wordCount, byteCount, etc.) map onto the TEI
				&lt;measure&gt; element.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="xces:class.string">
				<xs:attribute name="TEIform" type="xs:string" default="measure"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--
	 
	 -->
	<xs:complexType name="tei.typedString" mixed="true">
		<xs:complexContent>
			<xs:extension base="xces:class.string">
				<xs:attribute name="type" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tei.nameString" mixed="true">
		<xs:complexContent mixed="true">
			<xs:restriction base="xces:tei.typedString">
				<xs:attribute name="TEIform" type="xs:string" default="name"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--
	 
	 -->
	<xs:complexType name="tei.noteString" mixed="true">
		<xs:annotation>
			<xs:documentation> Used for XCES elements that map onto the TEI
				&lt;note&gt; element. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="xces:class.string">
				<xs:attribute name="TEIform" type="xs:string" default="note"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--  
	 
	 Use the tei.nameString type instead...
	 
	 <xs:complexType name="tei.respNameString">
		  <xs:annotation>
				<xs:documentation xml:lang="en">
					 The TEI &lt;name&gt; element in the &lt;respStmt&gt; block has been renamed to &lt;respName&gt; in the
					 XCES.
				</xs:documentation>
		  </xs:annotation>
		  <xs:complexContent>
				<xs:extension base="xces:class.string">
					 <xs:attribute ref="xces:TEIform" fixed="name"/>
				</xs:extension>
		  </xs:complexContent>
	 </xs:complexType>
	 -->
	<!--
	 
	 -->
	<xs:complexType name="tei.respString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en"> Strings used to encode
				responsibility statements. In the TEI &lt;resp&gt;
				elements are used, in the XCES this has been renamed to
				&lt;respType&gt;. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="xces:class.string">
				<xs:attribute name="TEIform" type="xs:string" default="resp"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--
	 
	 -->
	<xs:complexType name="tei.titleString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en"> The tei.titleString type used for
				title elements in the header. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="xces:class.string">
				<xs:attribute name="TEIform" type="xs:string" default="title"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="m.projectDesc">
		<xs:choice>
			<xs:element name="projectDesc" type="xces:class.declarable.string"/>
			<xs:element name="projectDescLink" type="xces:linkType"/>
		</xs:choice>
	</xs:group>
	<!--
		  
					 Type defintions for elements used in headers.
	  -->
	<xs:complexType name="analyticType" mixed="false">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains bibliographic elements
				describing an item (e.g. an article or poem) published within a
				monograph, journal, or periodical and not as an independent publication.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="xces:class.global">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="xces:author.group"/>
					<!-- 0.4 Changed the type, but not the model, for respStmt elements
						  <xs:element ref="xces:respStmtAbstract"/>
						  -->
					<xs:group ref="xces:m.respGroup"/>
					<xs:group ref="xces:title.group"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="annotationString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about an annotation file
				associated with the text.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="type" type="xs:string"/>
				<xs:attribute name="ann.loc" type="xs:anyURI"/>
				<xs:attribute name="trans.loc" type="xs:anyURI"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="annotationsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This element groups information
				about annotation documents associated with the text. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="annotation" maxOccurs="unbounded">
						<xs:complexType mixed="true">
							<xs:complexContent mixed="true">
								<xs:extension base="xces:annotationString">
									<xs:attribute ref="xlink:type" fixed="simple"/>
									<xs:attribute ref="xlink:href"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
		<!--		<xs:attributeGroup ref="xces:a.global"/> -->
	</xs:complexType>
	<!-- 
	<xs:complexType name="availabilityString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Supplies information about the
				availability of a text, for example, any extensions on its use
				or distribution, its copyright status, etc.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="region" type="xs:string" default="world"/>
				<xs:attribute name="status" default="unknown">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="free"/>
							<xs:enumeration value="unknown"/>
							<xs:enumeration value="restricted"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->
	<xs:complexType name="availabilityType">
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.text">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="xces:m.par.seq"/>
				</xs:sequence>
				<xs:attribute name="region" type="xs:string" default="world"/>
				<xs:attribute name="status" default="unknown">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="free"/>
							<xs:enumeration value="unknown"/>
							<xs:enumeration value="restricted"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="biblFullType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains a bibliographic citation
				for a text which has been previously encoded in electronic form.
				This element contains the same elements as the
				&lt;fileDesc&gt; element, and is intended to include the
				header of the electronic text from which the current document is derived.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="titleStmt" type="xces:titleStmtType"/>
					<xs:element name="editionStmt" type="xces:editionStmtString" minOccurs="0"/>
					<xs:element name="extent" type="xces:extentType" minOccurs="0"/>
					<xs:element ref="xces:publicationStmtAbstract"/>
					<xs:element name="sourceDesc" type="xces:sourceDescType"
						minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="biblScopeString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines the scope of a bibliographic
				reference, for example as a list of page numbers, or a named
				subdivision of a larger work.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="type">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="pp"/>
							<xs:enumeration value="vol"/>
							<xs:enumeration value="issue"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="biblStructType" mixed="false">
		<xs:annotation>
			<xs:documentation xml:lang="en">A structured bibliographic citation,
				in which only bibliographic sub-elements appear and in a
				specified order.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="xces:class.declarable">
				<xs:sequence>
					<xs:element name="analytic" type="xces:analyticType" minOccurs="0"/>
					<xs:element name="monogr" type="xces:monogrType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="byteCountString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains the count of bytes in the
				file containing the text together with its markup.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:tei.measureString">
				<xs:attribute name="units" default="kb">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="bytes"/>
							<xs:enumeration value="kb"/>
							<xs:enumeration value="mb"/>
							<xs:enumeration value="gb"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="catRefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies one or more defined
				categories within some taxonomy or text typology. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<!-- 0.4 Changed target type from xs:IDREFS to xs:string since the ID values may not
				be defined in this header. -->
				<xs:attribute name="target" type="xs:string" use="required"/>
				<xs:attribute name="scheme" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="categoryTypeBase">
		<xs:complexContent>
			<xs:restriction base="xces:class.global">
				<xs:attribute name="id" type="xs:ID" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="categoryType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An individual descriptive category
				or feature-value pair.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:categoryTypeBase">
				<xs:sequence>
					<xs:element name="catDesc" type="xces:class.string"/>
					<xs:element name="category" type="xces:categoryType"
						minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="header" type="xces:cesHeaderType"/>
	<xs:element name="cesHeader" type="xces:cesHeaderType"/>
	<xs:complexType name="cesHeaderBase">
		<xs:complexContent>
			<xs:restriction base="xces:class.global">
				<xs:attribute name="TEIform" type="xs:string" fixed="teiHeader"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cesHeaderType">
		<xs:complexContent>
			<xs:extension base="xces:cesHeaderBase">
				<xs:sequence>
					<!-- 0.4 Made the fileDesc element optional to allow for skeletal headers, 
					             i.e. just an annotations element for the standoff markup. --> 
					<xs:element name="fileDesc" type="xces:fileDescType" minOccurs="0"/>
					<xs:element name="encodingDesc" type="xces:encodingDescType" minOccurs="0"/>
					<xs:element name="profileDesc" type="xces:profileDescType" minOccurs="0"/>
					<!-- 0.4 Moved to its proper place in the profileDesc element
						  <xs:element name="annotations" type="xces:annotationsType" minOccurs="0"/>
						  -->
					<xs:element name="revisionDesc" type="xces:revisionDescType" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:string" default="text"/>
				<xs:attribute name="creator" type="xs:string"/>
				<xs:attribute name="status" default="new">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="new"/>
							<xs:enumeration value="update"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="date.created" type="xs:string"/>
				<xs:attribute name="date.updated" type="xs:string"/>
				<xs:attribute name="version" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="changeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Summarizes a particular change or
				correction made to a particular version of an electronic text
				which is shared between several researchers.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="changeDate" type="xces:tei.dateString"/>
					<xs:element name="respName" type="xces:class.string"/>
					<xs:group ref="xces:item.group" maxOccurs="unbounded"/>
					<!-- 0.4 group added to handle item and h.item  -->
					<!-- <xs:element name="h.item" type="xces:class.string" maxOccurs="unbounded"/> -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="classDeclType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains a series of
				&lt;category&gt; elements, defining the classification
				codes used for texts within the corpus.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="taxonomy" type="xces:taxonomyType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="correctionString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies a set of correction
				practices applied in creating one or more components of the corpus.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.declarable.string">
				<xs:attribute name="status" default="unknown">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="high"/>
							<xs:enumeration value="medium"/>
							<xs:enumeration value="low"/>
							<xs:enumeration value="unknown"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="method" default="silent">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="silent"/>
							<xs:enumeration value="tags"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="creationString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains information about the
				origination of a text.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="date" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="eAddressString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">An electronic address of the person
				or institution who distributes the text or corpus. Note that
				more than one occurrence of this tag can appear, so that
				multiple addresses (possibly of different types) can be
				included. </xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:tei.addressString">
				<xs:attribute name="type" type="xs:string" default="email"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="editionStmtString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides bibliographic details for
				an edition of some text.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="version" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="editorialDeclType" mixed="false">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides details of editorial
				principles and practices applied during the encoding of a text.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="xces:class.declarable">
				<xs:choice maxOccurs="unbounded">
					<xs:element name="correction" type="xces:correctionString"/>
					<xs:element name="quotation" type="xces:quotationString"/>
					<xs:element name="hyphenation" type="xces:class.declarable.string"/>
					<xs:element name="segmentation" type="xces:class.declarable.string"/>
					<xs:element name="transduction" type="xces:class.declarable.string"/>
					<xs:element name="normalization" type="xces:normalizationString"/>
					<xs:element name="conformance" type="xces:tei.conformanceString"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="encodingDescType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Documents the relationship between
				an electronic text and the source or sources from which it was derived.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:group minOccurs="0" maxOccurs="unbounded" ref="xces:m.projectDesc"/>
					<xs:element name="samplingDecl"
						type="xces:class.declarable.string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="editorialDecl"
						type="xces:editorialDeclType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="tagsDecl" type="xces:tagsDeclType" minOccurs="0"/>
					<xs:element name="refsDecl" type="xces:refsDeclString"
						minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="classDecl" type="xces:classDeclType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="extentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The size of the electronic text as
				stored on some carrier medium. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="wordCount" minOccurs="0" type="xces:tei.measureString"/>
					<xs:element name="byteCount" minOccurs="0" type="xces:byteCountString"/>
					<xs:element name="extNote" type="xces:tei.noteString"
						minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="fileDescType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A full bibliographic description of
				the corpus itself or of a text within it.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="titleStmt" type="xces:titleStmtType"/>
					<xs:element name="editionStmt" type="xces:editionStmtString" minOccurs="0"/>
					<xs:element name="extent" type="xces:extentType" minOccurs="0"/>
					<xs:element ref="xces:publicationStmtAbstract" minOccurs="0"/>
					<xs:element name="sourceDesc" type="xces:sourceDescType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="h.keywordsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A list of keywords or phrases
				identifying the topic or nature of a text, each of which is
				tagged as a term.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="keyTerm" type="xces:class.string" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="idnoString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">a number (e.g., ISBN) used to
				identify a bibliographic item.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="type" type="xs:string" default="ISBN"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="imprintType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Groups information relating to the
				publication or distribution of a bibliographic item. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="pubPlace" type="xces:class.string"/>
					<xs:element name="publisher" type="xces:publisherString"/>
					<xs:element name="pubDate" type="xces:tei.dateString"/>
					<xs:element name="idno" type="xces:idnoString"/>
					<xs:element name="pubAddress" type="xces:tei.addressString"/>
					<!-- 0.4 Added the eAddress type 0 -->
					<xs:element name="eAddress" type="xces:eAddressString"/>						
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="langUsageType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Groups information describing the
				languages, sublanguages, registers, dialects etc. represented
				within a text. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="p" type="xces:subpar.seq" minOccurs="0"/>
					<xs:element name="language" type="xces:languageType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="languageType" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Characterizes a language,
				sublanguage, register, dialect, etc., used within a single text.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="wsd" type="xs:string"/>
				<xs:attribute name="type" type="xs:string"/>
				<xs:attribute name="iso639" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="monogrType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains bibliographic elements
				describing an item (e.g. a book or journal) published as an
				independent item (i.e. as a separate physical object).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:group ref="xces:title.group" maxOccurs="unbounded"/>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="xces:author.group"/>
						<!-- 0.4 Changed the type of respStmt elements
								<xs:element ref="xces:respStmtAbstract"/>
								 -->
						<xs:group ref="xces:m.respGroup"/>
						<!-- 0.4 group added to handle author and h.author -->
						<!-- <xs:element name="h.author" type="xces:class.string"/> -->
					</xs:choice>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="edition" type="xces:class.string"/>
						<!-- 0.4 Changed the type of respStmt elements
								<xs:element ref="xces:respStmtAbstract"/>
								 -->
						<xs:group ref="xces:m.respGroup"/>
					</xs:sequence>
					<xs:element name="imprint" type="xces:imprintType" maxOccurs="unbounded"/>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="biblNote" type="xces:class.string"/>
						<xs:element name="biblScope" type="xces:biblScopeString"/>
					</xs:choice>
					<!-- 0.4 group added to handle title and h.title.  -->
					<!-- <xs:element name="title" type="xces:class.string" maxOccurs="unbounded"/> -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="normalizationString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies a set of normalization
				practices applied in creating one or more components of the corpus.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attributeGroup ref="xces:a.declarable"/>
				<xs:attribute name="source" type="xs:string"/>
				<xs:attribute name="method" default="silent">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="silent"/>
							<xs:enumeration value="tags"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="profileDescType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides further information about
				various aspects of a text, specifically the language used, the
				situation and date of its production, the participants and their
				setting, and a descriptive classification for it.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="creation" type="xces:creationString" minOccurs="0"/>
					<xs:element name="langUsage" type="xces:langUsageType" minOccurs="0"/>
					<xs:element name="wsdUsage" type="xces:wsdUsageType" minOccurs="0"/>
					<xs:element name="textClass" type="xces:textClassType" minOccurs="0"/>
					<xs:element name="translations" type="xces:translationsType" minOccurs="0">
						<xs:unique name="UniqueTranslations">
							<xs:selector xpath="xces:translation"/>
							<xs:field xpath="@n"/>
						</xs:unique>
					</xs:element>
					<xs:element name="particDesc" type="xces:particDescType" minOccurs="0"/>
					<xs:element name="settingDesc" type="xces:settingDescType" minOccurs="0"/>
					<!-- 0.4 Moved from the cesHeader element.  -->
					<xs:element name="annotations" type="xces:annotationsType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="publicationStmtBase" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="xces:class.global"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="publicationStmtAbstract" type="xces:publicationStmtBase" abstract="true"/>
	<xs:element name="publicationStmtLink" substitutionGroup="xces:publicationStmtAbstract">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="xces:publicationStmtBase">
					<xs:attributeGroup ref="xces:simpleLinkAtts"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publicationStmt" substitutionGroup="xces:publicationStmtAbstract">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation xml:lang="en">Groups information concerning
					the publication or distribution of the corpus and its
					constituent texts.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="xces:publicationStmtBase">
					<xs:sequence>
						<xs:choice>
							<xs:element name="distributor" type="xces:class.string"/>
							<xs:element name="publisher" type="xces:class.string"/>
							<xs:element name="authority" type="xces:class.string"/>
						</xs:choice>
						<xs:element name="pubAddress"
							type="xces:tei.addressString" minOccurs="0"/>
						<xs:element name="telephone" type="xces:class.string"
							minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="fax" type="xces:class.string"
							minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="eAddress" type="xces:eAddressString"
							minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="idno" type="xces:idnoString"
							minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="availability"
							type="xces:availabilityType" minOccurs="0"/>
						<xs:element name="pubDate" type="xces:tei.dateString" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--
	<xs:complexType name="publicationStmtType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Groups information concerning the publication or distribution of the corpus and its constituent texts.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="distributor" type="xces:class.string"/>
					<xs:element name="pubAddress" type="xces:class.string"/>
					<xs:element name="telephone" type="xces:class.string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="fax" type="xces:class.string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="eAddress" type="xces:eAddressString" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="idno" type="xces:idnoString" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="availability" type="xces:availabilityString"/>
					<xs:element name="pubDate" type="xces:pubDateString"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->
	<xs:complexType name="publisherString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">The proper name of a person, place
				or institution.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="type">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="place"/>
							<xs:enumeration value="org"/>
							<xs:enumeration value="person"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="quotationString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies editorial practice adopted
				with respect to quotation marks in the original. </xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.declarable.string">
				<xs:attribute name="marks" default="all">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="none"/>
							<xs:enumeration value="some"/>
							<xs:enumeration value="all"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="form" default="unknown">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="data"/>
							<xs:enumeration value="rend"/>
							<xs:enumeration value="std"/>
							<xs:enumeration value="nonstd"/>
							<xs:enumeration value="unknown"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Added for 0.4 -->
	<xs:complexType name="recordingStmtType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="xces:class.declarable">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="recording" type="xces:recordingType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Added for 0.4 -->
	<xs:complexType name="recordingType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="xces:class.declarable">
				<xs:choice maxOccurs="unbounded">
					<xs:element name="respStmt" type="xces:respStmtType"/>
					<xs:element name="equipment " type="xces:par.seq"/>
					<xs:element name="broadcast" type="xces:broadcastType"/>	
					<xs:element name="date" type="xs:string"/>
				</xs:choice>
				<xs:attribute name="dur" type="xs:string"/>
				<xs:attribute name="type" default="audio">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="audio"/>
							<xs:enumeration value="video"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Added for 0.4 -->
	<xs:complexType name="broadcastType">
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:choice>
					<xs:element name="p" type="xces:par.seq" maxOccurs="unbounded"/>
					<xs:element name="biblStruct" type="xces:biblStructType"/>
					<xs:element name="biblFull" type="xces:biblFullType"/>
					<xs:element name="recording" type="xces:recordingType"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="refsDeclString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies how canonical references
				are constructed for this text. </xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="doctype" type="xs:NMTOKEN"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="respStmtLinkType">
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:attributeGroup ref="xces:simpleLinkAtts"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--
	 <xs:complexType name="respStmtBase" mixed="false">
		  <xs:annotation>
				<xs:documentation xml:lang="en">Base type for respStmt annotations.</xs:documentation>
		  </xs:annotation>
		  <xs:complexContent mixed="false">
				<xs:extension base="xces:class.global"/>
		  </xs:complexContent>
	 </xs:complexType>
	 <xs:element name="respStmtAbstract" type="xces:respStmtBase" abstract="true"/>
	 <xs:element name="respStmtLink" substitutionGroup="xces:respStmtAbstract">
		  <xs:complexType>
				<xs:complexContent>
					 <xs:extension base="xces:respStmtBase">
						  <xs:attributeGroup ref="xces:simpleLinkAtts"/>
					 </xs:extension>
				</xs:complexContent>
		  </xs:complexType>
	 </xs:element>
	 <xs:element name="respStmt" substitutionGroup="xces:respStmtAbstract">
		  <xs:complexType>
				<xs:annotation>
					 <xs:documentation xml:lang="en">Supplies information about any person or institution
						  responsible for the intellectual content of a text, edition, or electronic transcription.</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					 <xs:extension base="xces:respStmtBase">
						  <xs:sequence maxOccurs="unbounded">
								<xs:element name="respType" type="xces:tei.respString" minOccurs="0"/>
								<xs:element name="respName" type="xces:tei.nameString" minOccurs="0"/>
						  </xs:sequence>
					 </xs:extension>
				</xs:complexContent>
		  </xs:complexType>
	 </xs:element>
	  -->
	<xs:group name="m.respGroup">
		<xs:choice>
			<xs:element name="respStmt" type="xces:respStmtType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="respStmtLink" type="xces:respStmtLinkType"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="respStmtType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Supplies information about any
				person or institution responsible for the intellectual content
				of a text, edition, or electronic transcription.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<!-- 0.4 changed to CES and then changed back to TEI, then change to a choice of either. -->
				<xs:choice>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="resp" type="xces:respType"/>
					</xs:sequence>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="respType" type="xces:tei.respString" minOccurs="0"/>
						<xs:choice>
							<xs:element name="name" type="xces:tei.nameString" minOccurs="0"/>						
							<xs:element name="respName" type="xces:tei.nameString" minOccurs="0"/>						
						</xs:choice>
					</xs:sequence>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- 0.4 -->
	<xs:complexType name="respType">
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="type" type="xces:tei.respString" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="name" type="xces:tei.nameString" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="revisionDescType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Summarizes the revision history for
				a file.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="change" type="xces:changeType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sourceDescType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Supplies a bibliographic description
				of the copy text(s) from which an electronic text was derived or generated.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.declarable">
				<xs:sequence>
					<xs:choice maxOccurs="unbounded">
						<xs:element name="recordingStmt" type="xces:recordingStmtType"/>
						<xs:element name="biblFull" type="xces:biblFullType"/>
						<xs:element name="biblStruct" type="xces:biblStructType"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tagUsageString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Supplies information about the usage
				of a specific element within the corpus or text with which this
				header is associated.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="gi" type="xs:NMTOKEN" use="required"/>
				<xs:attribute name="occurs" type="xs:NMTOKEN"/>
				<xs:attribute name="wsd" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tagsDeclType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This element is used differently in
				corpus and in text headers. In the corpus header, it is used to
				list all the element names actually used within the corpus,
				together with a brief description of its function. In text
				headers, the same element is used to specify the number of XML
				elements actually tagged within each text. In both cases it
				consists of a number of &lt;tagUsage&gt; elements,</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="tagUsage" type="xces:tagUsageString" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="taxonomyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines a typology used to classify texts.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="category" type="xces:categoryType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="textClassType" mixed="false">
		<xs:annotation>
			<xs:documentation xml:lang="en">Groups information which describes
				the nature or topic of a text in terms of a standard
				classification scheme, thesaurus, etc.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="xces:class.declarable">
				<xs:sequence>
					<!-- 0.4 changed maxOccurs to unbounded -->
					<xs:element name="catRef" type="xces:catRefType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="keywords" type="xces:h.keywordsType" minOccurs="0"/>
					<xs:element name="domain" type="xces:class.string" minOccurs="0"/>
					<xs:element name="subdomain" type="xces:class.string" minOccurs="0"/>
					<!-- 0.4 changed maxOccurs to unbounded for the PLOS headers which have multiple subjects. -->
					<xs:element name="subject" type="xces:class.string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="audience" type="xces:class.string" minOccurs="0"/>
					<xs:element name="medium" type="xces:class.string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="titleStmtType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Groups information concerning the
				title of the corpus or the individual text and its constituent texts.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<!-- 0.4 Added a groups to handle tile, h.title elements and respStmt blocks/linkes. -->
					<xs:group ref="xces:title.group"/>
					<xs:group ref="xces:m.respGroup"/>
					<!-- 0.4 Added author. This is consistent with the TEI, but inconsistent with the CES -->
					<xs:group ref="xces:author.group"/>
					<!-- <xs:element name="title" type="xces:class.string"/> -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="translationString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Gives information about a
				translation of the text. The global lang attribute and the wsd
				attribute are required on this tag.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="wsd" type="xs:string" use="required"/>
				<xs:attribute name="trans.loc" type="xs:anyURI"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="translationsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Groups information about existing
				translations of the text.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="translation" type="xces:translationString" maxOccurs="unbounded"/>
					<xs:element name="translator" type="xces:class.string" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute ref="xml:base"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="writingSystemString" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Characterizes a character set used
				within a single text.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="wsd" type="xs:ENTITY"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="wsdUsageType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Groups information describing the
				character set(s) used within a text. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="writingSystem"
						type="xces:writingSystemString" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- The header can be a header element or an element that points to the header -->
	<xs:group name="headerGroup">
		<xs:choice>
			<xs:element name="xcesHeader" type="xces:linkType"/>
			<xs:element ref="xces:header"/>
			<xs:element ref="xces:cesHeader"/>
		</xs:choice>
	</xs:group>
	<xs:element name="participant" type="xces:participantType" abstract="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Abstract element used by the
				particDesc. This element will actually be replaced by
				xces:person or xces:personGrp elements. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="participantType" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Base type used by the abstract
				element xces:participant</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="age" type="xs:string"/>
				<xs:attribute name="role" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="personType" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">A single participant. Extends
				participantType to include attributes for the age, role, and sex
				of the participant</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:participantType">
				<xs:sequence>
					<xs:element name="firstLang" type="xs:string" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="sex">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKENS">
							<xs:enumeration value="m"/>
							<xs:enumeration value="f"/>
							<xs:enumeration value="u"/>
							<xs:enumeration value="M"/>
							<xs:enumeration value="F"/>
							<xs:enumeration value="U"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="personGrpType" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">A group of two or more participants.
				Extends the xces:participantType to include attributes to
				represent the age, role, sex, and size of the group.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:participantType">
				<xs:attribute name="sex">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKENS">
							<xs:enumeration value="m"/>
							<xs:enumeration value="f"/>
							<xs:enumeration value="u"/>
							<xs:enumeration value="x"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="size" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="person" type="xces:personType" substitutionGroup="xces:participant">
		<xs:annotation>
			<xs:documentation xml:lang="en">Substitution group element for xces:participant.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="personGrp" type="xces:personGrpType" substitutionGroup="xces:participant">
		<xs:annotation>
			<xs:documentation xml:lang="en">Substitution group element for xces:participant.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="particLinksType">
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:sequence>
					<xs:element name="relation" type="xces:relationType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="relationType">
		<xs:complexContent>
			<xs:extension base="xces:class.global">
				<xs:attribute name="type" type="xs:string" default="personal"/>
				<xs:attribute name="desc" type="xs:string"/>
				<xs:attribute name="active" type="xs:IDREFS"/>
				<xs:attribute name="passive" type="xs:IDREFS"/>
				<xs:attribute name="mutual" default="y">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="y"/>
							<xs:enumeration value="n"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="particDescType" mixed="false">
		<xs:annotation>
			<xs:documentation xml:lang="en">Description of the participants involved.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="xces:class.declarable">
				<xs:sequence>
					<xs:element ref="xces:participant" maxOccurs="unbounded"/>
					<xs:element name="particLinks" type="xces:particLinksType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="settingTimeString" mixed="true">
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.string">
				<xs:attribute name="value" type="xs:string"/>
				<xs:attribute name="type">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="am"/>
							<xs:enumeration value="pm"/>
							<xs:enumeration value="24hour"/>
							<xs:enumeration value="descriptive"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="zone" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="settingType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="xces:class.global">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<!-- 0.4 Added 'p' elements to be consistent with the TEI -->
					<xs:element name="p" type="xces:subpar.seq"/>
					<!-- 0.4 Added a s. prefix to names and times in the settingDesc to avoid conflicts with other time elements -->
					<xs:element name="name" type="xces:tei.nameString"/>
					<xs:element name="time" type="xces:settingTimeString"/>
					<xs:element name="locale" type="xces:class.string"/>
					<xs:element name="activity" type="xces:class.string"/>
				</xs:choice>
				<xs:attribute name="who" type="xs:IDREFS"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="settingDescType" mixed="false">
		<xs:annotation>
			<xs:documentation xml:lang="en">Describes the setting or settings
				within which a language interaction takes place with a series of
				&lt;setting&gt; elements.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="xces:class.declarable">
				<xs:sequence>
					<xs:element name="setting" type="xces:settingType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
