wikicorpus-model/src/main/xsd/xces/xcesSpoken.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
	The XML Corpus Encoding Standard
	XCES Revision 0.4
		
	Encoding conventions for spoken annotation.
-->
<!-- W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com) -->
<xs:schema targetNamespace="http://www.xces.org/schema/2003"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xces="http://www.xces.org/schema/2003"
    elementFormDefault="qualified" version="1.0.4">
    <!--
        Redefine xcesDoc.xsd
	
	The schema for spoken files simply tweaks a few of the content models and types used in the xcesDoc
	schema. 
	
	The following model groups are redefined:
		m.inter                       m.spoken model group added
		m.common               m.spoken model group added
		m.par.seq                 turn and u (utterance) elements added
		m.subpar.seq          u element added.
	
	The following types are redefined:
		sType                        a.spoken and a.timed attributes added.
	       pType                        a.spoken and a.timed attributes added.

	The cesDocType is also redefined do it's only content is 0-1 body elements.
	
    -->
    <xs:redefine schemaLocation="xcesDoc.xsd">
        <xs:annotation>
            <xs:documentation xml:lang="en">The concept of "sentence-level" and/or "paragraph-level" elements is
                not well defined for spoken text so shift, event, and turn elements can appear in
                "paragraphs" and between them.</xs:documentation>
        </xs:annotation>
        <xs:group name="m.inter">
            <xs:annotation>
                <xs:documentation xml:lang="en">Add the shift and event elements to the group of elements that can appear
                between paragraphs.</xs:documentation>
            </xs:annotation>
            <xs:choice>
                <xs:group ref="xces:m.inter"/>
                <xs:group ref="xces:m.spoken"/>
            </xs:choice>
        </xs:group>
        
        <xs:group name="m.common">
            <xs:annotation>
                <xs:documentation xml:lang="en">Add the shift and event elements to group of common elements used to define sequences
                </xs:documentation>
            </xs:annotation>
            <xs:choice>
                <xs:group ref="xces:m.common"/>
                <xs:group ref="xces:m.spoken"/>
            </xs:choice>
        </xs:group>
        <xs:group name="m.par.seq">
            <xs:annotation>
                <xs:documentation xml:lang="en">Extend the model for paragraph sequences to include &lt;turn&gt; elements.</xs:documentation>
            </xs:annotation>
            <xs:choice>
                <xs:group ref="xces:m.par.seq"/>
                <xs:element name="turn" type="xces:pType"/>
                <xs:element name="u" type="xces:sType"/>
            </xs:choice>
        </xs:group>
        <xs:group name="m.subpar.seq">
            <xs:annotation>
                <xs:documentation xml:lang="en">Extend the model for sub-paragraph sequences to include &lt;u&gt; (utterance)
                elements.</xs:documentation>
            </xs:annotation>
            <xs:choice>
                <xs:group ref="xces:m.subpar.seq"/>
                <xs:element name="u" type="xces:sType"></xs:element>
            </xs:choice>
        </xs:group>
        <xs:complexType name="sType" mixed="true">
            <xs:complexContent>
                <xs:extension base="xces:sType">
                    <xs:attributeGroup ref="xces:a.spoken"/>
                    <xs:attributeGroup ref="xces:a.timed"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>       
       
        <xs:complexType name="pType" mixed="true">
            <xs:complexContent>
                <xs:extension base="xces:pType">
                    <xs:attributeGroup ref="xces:a.spoken"/>
                    <xs:attributeGroup ref="xces:a.timed"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
        <!--
        -->
        <xs:complexType name="xcesDocType">
            <xs:annotation>
                <xs:documentation xml:lang="en">Extend the xcesDoc type to include a &lt;body&gt; element.</xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="xces:xcesDocType">
                    <xs:choice minOccurs="0">
                        <xs:element name="body" type="xces:bodyType"/>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:redefine>
    <!--
        End of the redefinitions.
      -->
     <!--
	
        Model groups, attribute groups, types, and elements introduced by this schema.
     -->
    <xs:group name="m.spoken">
        <xs:choice>
            <xs:element name="shift" type="xces:shiftEventType"/>
            <xs:element name="event" type="xces:shiftEventType"/>
            <xs:element name="pause" type="xces:shiftEventType"/>
        </xs:choice>
    </xs:group>
    <!--
            Attribute Groups
    -->
    <!-- Attributes for spoken elements -->
    <xs:attributeGroup name="a.spoken">
        <xs:annotation>
            <xs:documentation xml:lang="en">Attributes common to non-lexical or semi-lexical spoken phenomena</xs:documentation>
        </xs:annotation>
        <xs:attribute name="who" type="xs:string"/>
        <xs:attribute name="iterated" default="n">
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="y"/>
                    <xs:enumeration value="n"/>
                    <xs:enumeration value="u"/>
                    <xs:enumeration value="Y"/>
                    <xs:enumeration value="N"/>
                    <xs:enumeration value="U"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="desc" type="xs:string"/>
    </xs:attributeGroup>
    <!-- Attributes for timed elements. -->
    <xs:attributeGroup name="a.timed">
        <xs:annotation>
            <xs:documentation xml:lang="en">Attributes used to record timing information for spoken elements.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="start" type="xs:string"/>
        <xs:attribute name="end" type="xs:string"/>
        <xs:attribute name="dur" type="xs:string"/>
    </xs:attributeGroup>
    <!--
        A new type for shifts and events.
    -->
    <xs:complexType name="shiftEventType">
        <xs:complexContent>
            <xs:extension base="xces:class.global.mixed">
                <xs:attribute name="type" type="xs:string"/>
                <xs:attribute name="feature" type="xs:string"/>
                <xs:attribute name="new" type="xs:string"/>
                <xs:attributeGroup ref="xces:a.spoken"/>
                <xs:attributeGroup ref="xces:a.timed"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
