wikicorpus-model/src/main/xsd/xces/xcesDatatypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	The XML Corpus Encoding Standard
	XCES Revision 0.4
		
	Common definitons of model groups, attributes, attribute groups, and types.
-->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.xces.org/schema/2003"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xces="http://www.xces.org/schema/2003"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.4">
    
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <xs:include schemaLocation="xcesModels.xsd"/>
    <xs:include schemaLocation="xcesHeader.xsd"/>
    <!-- This might stay... nothing should be named with a "l" (single lowercase el). -->
    <xs:group name="line.group">
        <xs:choice>
            <xs:element name="l" type="xces:lineType"/>
            <xs:element name="line" type="xces:lineType"/>
        </xs:choice>
    </xs:group>
    <!-- 
			
	Type definitions
			
         -->
    <xs:complexType name="base.seq" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">The base content model for token level elements,
                including PCDATA, possibly inter-mixed with &lt;abbr&gt; and
                &lt;num&gt; elements.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="num" type="xces:numType"/>
                    <xs:element name="abbr" type="xces:abbrType"/>
                    <!-- 0.4 Added tokens -->
                    <xs:element name="tok" type="xces:tokType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--
	Sequence types.
	
	The sequence types build complex types from the base types and extending them with the model groups, setting
	the minOccurs and maxOccurs attributes as necessary.
    -->
    <xs:complexType name="phrase.seq" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.phrase.seq"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--
	<xs:complexType name="phrase.hi.seq" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">A word or phrase graphically distinct from the
                surrounding text, for reasons concerning which no claim is made. The rend attribute
                should provide the original rendition information when its function has not yet been determined.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.text">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="xces:m.phrase.hi.seq"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->
    <xs:complexType name="phrase.foreign.seq" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.phrase.foreign.seq"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="phrase.distinct.seq" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.phrase.distinct.seq"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="phrase.mentioned.seq" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.phrase.mentioned.seq"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="phrase.title.seq" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.phrase.title.seq"/>
                </xs:choice>
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--
		Paragraph sequences.
	-->
    <xs:complexType name="par.seq" mixed="false">
        <xs:annotation>
            <xs:documentation xml:lang="en">Elements that can appear at the paragraph level -i.e.,
                in between paragraphs, at the same level as &lt;p&gt;. This includes the
                elements in class M.INTER plus &lt;p&gt; and &lt;sp&gt;.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="xces:class.text.elementOnly">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.inter"/>
                    <xs:element name="p" type="xces:subpar.seq"/>
                    <xs:element name="sp" type="xces:spType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--
    
    
                        Sub-paragraph sequences.
        -->
    <xs:complexType name="subpar.seq" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.subpar.seq"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="abbrType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">An abbreviation of any sort.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.textString">
                <xs:attribute name="expan" type="xs:string"/>
                <xs:attribute name="resp" type="xs:IDREF"/>
                <xs:attribute name="cert" type="xs:string"/>
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="biblType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">a loosely-structured bibliographic citation appearing
                within a corpus text.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.phrase.seq"/>
                    <xs:element name="author" type="xces:base.seq"/>
                </xs:choice>
                <xs:attribute name="default" default="n">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="y"/>
                            <xs:enumeration value="n"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="bodyType">
        <xs:annotation>
            <xs:documentation xml:lang="en">The body of the text, excluding any front or back
                matter.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.text.elementOnly">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.par.seq"/>
                    <xs:element name="div" type="xces:divType"/>
                </xs:choice>
                <xs:attribute name="decls" type="xs:IDREFS"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="bylineType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Contains the primary statement of responsibility given
                for a work on its title page or at the head or ending of the work, most often
                applicable to newspapers. Can contain any phrase-level element plus the tag
                &lt;docAuthor&gt; for the author's name.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.phrase.seq"/>
                    <xs:element name="docAuthor" type="xces:base.seq"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="captionType" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.phrase.seq"/>
                    <xs:element name="s" type="xces:sType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="cellType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Zero or more phrase-level elements
            (xces:phrase.seq)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.text">
                <xs:choice>
                    <xs:group minOccurs="0" maxOccurs="unbounded" ref="xces:m.phrase.seq"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="p" type="xces:subpar.seq"
                    />
                </xs:choice>
                <xs:attribute name="role" type="xs:string" default="data"/>
                <xs:attribute name="rows" type="xs:NMTOKEN" default="1"/>
                <xs:attribute name="cols" type="xs:NMTOKEN" default="1"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--
	The root element for xcesDoc documents.
	
	First restrict class.global and provide a default value for the TEIform attribute, and
	then extend the base type to add the content model.
        -->
    <xs:complexType name="xcesDocRestriction" mixed="false">
        <xs:complexContent>
            <xs:restriction base="xces:class.global">
                <xs:attribute name="TEIform" type="xs:string" fixed="TEI.2"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="xcesDocType">
        <xs:annotation>
            <xs:documentation xml:lang="en">A single document, either forming part of or derived
                from a corpus, containing a &lt;cesHeader&gt; element, followed by either a
                &lt;body&gt; element or a &lt;group&gt; element.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:xcesDocRestriction">
                <xs:sequence>
                    <xs:group ref="xces:headerGroup" minOccurs="0"/>
                    <xs:element name="text" type="xces:textType" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="type" type="xs:string" default="text"/>
                <xs:attribute name="version" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="closerType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used to group together material appearing at the end of
                a division, including in particular &lt;dateline&gt; and
                &lt;keywords&gt;. </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.phrase.seq"/>
                    <xs:element name="dateline" type="xces:datelineType"/>
                    <xs:element name="keywords" type="xces:keywordsType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="corrType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Contains the correct form of a passage apparently
                erroneous in the copy text.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:phrase.seq">
                <xs:attribute name="sic" type="xs:string"/>
                <xs:attribute name="resp" type="xs:string"/>
                <xs:attribute name="cert" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="dateType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">A date in any format.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:base.seq">
                <xs:attribute name="ISO8601" type="xs:string"/>
                <xs:attribute name="value" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="datelineType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Can contain untagged prose intermixed with markup for
                dates, times, names, addresses, abbreviations, and numbers.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="num" type="xces:numType"/>
                    <xs:element name="abbr" type="xces:abbrType"/>
                    <xs:element name="date" type="xces:dateType"/>
                    <xs:element name="time" type="xces:timeType"/>
                    <xs:element name="name" type="xces:nameType"/>
                    <xs:element name="address" type="xces:base.seq"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="distinctType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">identifies a word or phrase regarded as linguistically
                distinct (e.g., archaic, technical, dialect, etc.). </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:phrase.distinct.seq">
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="divType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Any subdivision of a written text, e.g. chapter,
                section, sub-section, article, etc. </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.text.elementOnly">
                <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="opener" type="xces:openerType"/>
                        <xs:element name="byline" type="xces:bylineType"/>
                        <!-- 0.4 Removed the head
                        <xs:element name="head" type="xces:headType"/>
                        -->
                    </xs:choice>
                    <!-- 0.4 Allow the div to be empty. Changed from minOccurs="1" -->
                    <xs:choice minOccurs="0">
                        <xs:sequence maxOccurs="unbounded">
                            <xs:choice maxOccurs="unbounded">
                                <xs:element name="p" type="xces:subpar.seq"/>
                                <xs:element name="sp" type="xces:spType"/>
                                <xs:group ref="xces:m.inter"/>
                            </xs:choice>
                            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="div" type="xces:divType"/>
                            </xs:sequence>
                        </xs:sequence>
                        <xs:element name="div" type="xces:divType" maxOccurs="unbounded"/>
                    </xs:choice>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="closer" type="xces:closerType"/>
                        <!-- 0.4 Rename the byline element in the back matter so the above choice can have minOccurs=0 -->
                        <!-- If we use the same name we end up with an ambiguous content model. -->
                        <xs:element name="endByline" type="xces:bylineType"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute name="complete" default="y">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="y"/>
                            <xs:enumeration value="n"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <!-- 0.4 the type attribute was required, changed to make it optional. -->
                <xs:attribute name="type" type="xs:string"/>
                <xs:attribute name="decls" type="xs:IDREFS"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="figureType">
        <xs:annotation>
            <xs:documentation xml:lang="en">The location of a graphic, illustration, or
            figure.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.text.elementOnly">
                <xs:sequence>
                    <xs:element name="head" type="xces:headType" minOccurs="0"/>
                    <xs:element name="p" type="xces:subpar.seq" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="figDesc" type="xces:phrase.seq" minOccurs="0"/>
                    <xs:element name="text" type="xces:textType" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="entity" type="xs:ENTITY"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- Use phrase.foreign.seq instead of foreignType
	<xs:complexType name="foreignType" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">A word or phrase belonging to some language other than that of the surrounding text. Use the global lang and/or xml:lang attribute(s) to indicate the language. </xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="xces:phrase.foreign.seq"/>
		</xs:sequence>
		<xs:attributeGroup ref="xces:textAtts"/>
	</xs:complexType>
	-->
    <xs:complexType name="gapType">
        <xs:annotation>
            <xs:documentation xml:lang="en">A point where material has been omitted in a
                transcription, whether for editorial sampling practice, or because the material is
                illegible.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.text.elementOnly">
                <!-- 0.4 Fixed a typo, this was 'descr' in the first release of the schemas -->
                <xs:attribute name="desc" type="xs:string"/>
                <xs:attribute name="reason" type="xs:string"/>
                <xs:attribute name="resp" type="xs:string"/>
                <xs:attribute name="cert" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- NOTE: The content model for a <group> element is (%par.seq;, body+) so xces:par.seq can be
		 extended directly rather than including the xces:m.par.seq group
	-->
    <xs:complexType name="groupType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Groups together a sequence of distinct texts that are
                regarded as a unit, such as a sequence of prose essays, poems, etc.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:par.seq">
                <xs:sequence>
                    <xs:element name="body" type="xces:bodyType" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="decls" type="xs:IDREFS"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="headType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Any heading, for example, the title of a section. This
                element can also appear inside the &lt;list&gt; and &lt;poem&gt;
                elements to mark the title of a list or poem. It can contain any phrase-level
                element.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:subpar.seq">
                <xs:attribute name="type" type="xs:NMTOKEN"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="hiType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">A word or phrase graphically distinct from the
                surrounding text, for reasons concerning which no claim is made. The rend attribute
                should provide the original rendition information when its function has not yet been
                determined.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:phrase.seq"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="itemType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">An item within a list.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.subpar.seq"/>
                    <xs:element name="p" type="xces:subpar.seq"/>
                    <!-- 0.4 Added div elements -->
                    <xs:element name="div" type="xces:divType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="keywordsType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Terms and lists of terms that may appear at the
                beginning or end of a text as identifying material.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.text.elementOnly">
                <xs:choice>
                    <xs:element name="term" type="xces:termType" maxOccurs="unbounded"/>
                    <xs:element name="list" type="xces:listType"/>
                </xs:choice>
                <xs:attribute name="scheme" type="xs:IDREF"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="lineType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">A line of verse.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:phrase.seq">
                <xs:attribute name="part" default="u">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="y"/>
                            <xs:enumeration value="n"/>
                            <xs:enumeration value="u"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- Simply renames phrase.seq, so use phrase.seq instead.
	<xs:complexType name="labelType" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">An enumerator or other label attached to a list item. Lists may or may not be marked. Where marked, they may appear within or between paragraphs.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:phrase.seq"/>
		</xs:complexContent>
	</xs:complexType>
	-->
    <xs:complexType name="lgType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Groups of verse lines (marked by &lt;line&gt;
                lowercase el), most often into stanzas. Use the type attribute to identify the
                reason for the grouping.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.text.elementOnly">
                <xs:choice maxOccurs="unbounded">
                    <xs:element name="line" type="xces:lineType"/>
                    <xs:element name="lg" type="xces:lgType"/>
                </xs:choice>
                <xs:attribute name="type" type="xs:string"/>
                <xs:attribute name="part" default="u">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="y"/>
                            <xs:enumeration value="n"/>
                            <xs:enumeration value="u"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="listType">
        <xs:annotation>
            <xs:documentation xml:lang="en">A collection of distinct items flagged as such by
                special layout in written texts, often functioning as a single syntactic unit. Note
                that &lt;list&gt; is the only phrase-level element which is also a
                paragraph-level element; its content model is exactly the same in both instances.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.text.elementOnly">
                <!-- 0.4 Simplified the contents of lists to be head? (label*, item*, list*)*
                <xs:sequence>
                    <xs:element name="head" type="xces:headType" minOccurs="0"/>
                    <xs:choice>
                       <xs:element name="list" type="xces:listType" ></xs:element>
                        <xs:element name="item" type="xces:itemType" maxOccurs="unbounded"/>
                        <xs:sequence maxOccurs="unbounded">
                             0.4 allow multiple labels and items. 
                            <xs:element name="label" type="xces:phrase.seq" maxOccurs="unbounded"/>
                            <xs:element name="item" type="xces:itemType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:choice>
                </xs:sequence>
                -->
                <xs:sequence>
                    <xs:element name="head" type="xces:headType" minOccurs="0"/>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="label" type="xces:phrase.seq"/>
                        <xs:element name="item" type="xces:itemType"/>
                        <xs:element name="list" type="xces:listType"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="measureType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">A number, word, phrase indicating a
            quantity.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:base.seq">
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="weight"/>
                            <xs:enumeration value="length"/>
                            <xs:enumeration value="count"/>
                            <xs:enumeration value="area"/>
                            <xs:enumeration value="volume"/>
                            <xs:enumeration value="currency"/>
                            <xs:enumeration value="temperature"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="value" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--
	<xs:complexType name="mentionedType" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Words or phrases mentioned, not used.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="xces:phrase.mentioned.seq"/>
		</xs:sequence>
		<xs:attributeGroup ref="xces:textAtts"/>
	</xs:complexType>
	-->
    <xs:complexType name="nameType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">A proper noun or noun phrase. </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
        	<!-- 0.4 Changed to extend xces:phrase.seq rather than xces:base.seq. 
            <xs:extension base="xces:base.seq">
        	-->
        	<xs:extension base="xces:phrase.seq">
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--
	<xs:group name="noteGroup">
		<xs:choice>
			<xs:group ref="xces:m.subpar.seq"/>
			<xs:group ref="xces:m.par.seq"/>
		</xs:choice>
	</xs:group>
	-->
    <xs:complexType name="noteType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Any form of note, usually a footnote. This tag marks
                only notes that are a part of the original text, not notes that may be added by the
                encoder, etc.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.subpar.seq"/>
                    <xs:element name="p" type="xces:pType"/>
                    <xs:element name="sp" type="xces:spType"/>
                </xs:choice>
                <xs:attribute name="place" default="unspec">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="side"/>
                            <xs:enumeration value="foot"/>
                            <xs:enumeration value="end"/>
                            <xs:enumeration value="unspec"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="numType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">A number, written in any form.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.textString">
                <xs:attribute name="type" type="xs:string"/>
                <xs:attribute name="value" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="openerType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Groups together any opening material that is not a
                heading at the start of a division, including in particular &lt;dateline&gt;
                and &lt;keywords&gt;. </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.phrase.seq"/>
                    <xs:element name="dateline" type="xces:datelineType"/>
                    <xs:element name="keywords" type="xces:keywordsType"/>
                    <!-- 0.4 Changed m.subpar.seq to m.phrase.seq -->
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="pType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">A paragraph in a written text.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:subpar.seq"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="poemType" mixed="false">
        <xs:annotation>
            <xs:documentation xml:lang="en">A poem, or an extract from one, embedded or quoted
                within a text. </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="xces:class.text.elementOnly">
                <xs:sequence>
                    <xs:element name="head" type="xces:headType" minOccurs="0"/>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="lg" type="xces:lgType"/>
                        <xs:group ref="xces:line.group"/>
                        <!-- 0.4
                                                        Change the name of the line element back to l (lowercase el)
                                                <xs:element name="line" type="xces:lineType"/>
                                                 -->
                    </xs:choice>
                    <xs:element name="author" type="xces:authorType" minOccurs="0"
                        maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ptrType">
        <xs:annotation>
            <xs:documentation xml:lang="en">A pointer to another location in the current document in
                terms of one or more identifiable elements. </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.text.elementOnly">
                <xs:attribute name="corresp" type="xs:IDREFS"/>
                <xs:attribute name="next" type="xs:IDREF"/>
                <xs:attribute name="prev" type="xs:IDREF"/>
                <xs:attribute name="type" type="xs:string"/>
                <xs:attribute name="resp" type="xs:string"/>
                <xs:attribute name="crdate" type="xs:string"/>
                <xs:attribute name="targType" type="xs:NMTOKENS"/>
                <xs:attribute name="targOrder" default="u">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="y"/>
                            <xs:enumeration value="n"/>
                            <xs:enumeration value="u"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="evaluate">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="all"/>
                            <xs:enumeration value="one"/>
                            <xs:enumeration value="none"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="target" type="xs:IDREFS" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="qType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Quoted dialogue or other quoted material appearing
                inside a paragraph. </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="xces:m.subpar.seq"/>
                    <xs:element name="p" type="xces:pType"/>
                </xs:choice>
                <xs:attribute name="next" type="xs:IDREF"/>
                <xs:attribute name="prev" type="xs:IDREF"/>
                <xs:attribute name="type" type="xs:string"/>
                <xs:attribute name="direct" default="unspecified">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="y"/>
                            <xs:enumeration value="n"/>
                            <xs:enumeration value="unspecified"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="who" type="xs:string"/>
                <xs:attribute name="broken" default="no">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="yes"/>
                            <xs:enumeration value="no"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--
	<xs:complexType name="quoteType" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">a quotation from some author other than that of the surrounding text, usually either embedded or displayed. </xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xces:class.text">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="xces:m.phrase.hi.seq"/>
					<xs:element name="p" type="xces:subpar.seq"/>
				</xs:choice>
				<xs:attribute name="type" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->
    <xs:complexType name="quoteType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">a quotation from some author other than that of the
                surrounding text, usually either embedded or displayed. </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
        	<!-- 0.4 extend par.seq instead of subpar.seq -->
            <xs:extension base="xces:par.seq">
            	<!--
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="p" type="xces:subpar.seq"/>
                    <xs:element name="poem" type="xces:poemType"/>
                    <xs:element name="quote" type="xces:quoteType"/>
                </xs:choice>
            	-->
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="authorType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Author of a quote or poem in the
            text.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice>
                    <xs:group ref="xces:m.phrase.seq"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="refType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">A reference to another location in the current document,
                in terms of one or more identifiable elements, possibly modified by additional text
                or comment.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:subpar.seq">
                <xs:attribute name="corresp" type="xs:IDREFS"/>
                <xs:attribute name="next" type="xs:IDREF"/>
                <xs:attribute name="prev" type="xs:IDREF"/>
                <xs:attribute name="type" type="xs:string"/>
                <xs:attribute name="resp" type="xs:string"/>
                <xs:attribute name="crdate" type="xs:string"/>
                <xs:attribute name="targType" type="xs:NMTOKENS"/>
                <xs:attribute name="targOrder" default="u">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="y"/>
                            <xs:enumeration value="n"/>
                            <xs:enumeration value="u"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="evaluate">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="all"/>
                            <xs:enumeration value="one"/>
                            <xs:enumeration value="none"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="target" type="xs:IDREFS"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="regType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Text which has been regularized or normalized in some
                sense.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:phrase.seq">
                <xs:attribute name="orig" type="xs:string"/>
                <xs:attribute name="resp" type="xs:string"/>
                <xs:attribute name="cert" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="rowType">
        <xs:complexContent>
            <xs:extension base="xces:class.text.elementOnly">
                <xs:choice maxOccurs="unbounded">
                    <xs:element name="cell" type="xces:cellType"/>
                    <xs:element name="table" type="xces:tableType"/>
                </xs:choice>
                <xs:attribute name="role" type="xs:string" default="data"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="sType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Identifies an s-unit within a document, typically an
                orthographic sentence.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:subpar.seq">
                <xs:attribute name="next" type="xs:IDREF"/>
                <xs:attribute name="prev" type="xs:IDREF"/>
                <xs:attribute name="type" type="xs:string"/>
                <xs:attribute name="broken" default="no">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="yes"/>
                            <xs:enumeration value="no"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="spType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Material marked as "written to be spoken'' or "written
                as spoken", usually by the presence of a speaker prefix, for example in a play
                script or printed interview.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.text">
                <xs:choice maxOccurs="unbounded">
                    <xs:element name="speaker" type="xces:base.seq"/>
                    <xs:element name="p" type="xces:subpar.seq"/>
                    <xs:element name="stage" type="xces:stageType"/>
                </xs:choice>
                <xs:attribute name="who" type="xs:NMTOKEN"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="stageType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Any kind of stage direction within a dramatic
            text.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:base.seq">
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="tableType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Text displayed in tabular form</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.text.elementOnly">
                <xs:sequence>
                    <xs:element name="head" type="xces:headType" minOccurs="0"/>
                    <xs:element name="row" type="xces:rowType" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="rows" type="xs:NMTOKEN"/>
                <xs:attribute name="cols" type="xs:NMTOKEN"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="termType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">A single-word, multi-word or symbolic designation which
                is regarded as a technical term. </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:base.seq">
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="textType" mixed="false">
        <xs:annotation>
            <xs:documentation xml:lang="en">An individual text.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="xces:class.global">
                <xs:choice>
                    <xs:element name="body" type="xces:bodyType"/>
                    <xs:element name="group" type="xces:groupType"/>
                </xs:choice>
                <xs:attribute name="complete" default="y">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="y"/>
                            <xs:enumeration value="n"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="decls" type="xs:IDREFS"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="timeType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">A phrase defining a time of day in any
            format.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:base.seq">
                <xs:attribute name="ISO8601" type="xs:string"/>
                <xs:attribute name="value" type="xs:string"/>
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="am"/>
                            <xs:enumeration value="pm"/>
                            <xs:enumeration value="24hour"/>
                            <xs:enumeration value="descriptive"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--
	<xs:complexType name="titleType" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">The title of a work, whether article, book, journal, or series, including any alternative titles or subtitles.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="xces:phrase.title.seq"/>
		</xs:sequence>
		<xs:attributeGroup ref="xces:textAtts"/>
		<xs:attribute name="type" type="xs:string"/>
	</xs:complexType>
	-->
    <!--
    
    
	    Datatypes from xcesAna.xsd v1.0
	    
	    Encoding conventions for grammatical annotations and other stand-off annotated data.	    
    -->
    <xs:attributeGroup name="a.ana">
        <xs:annotation>
            <xs:documentation xml:lang="en">Extends the globalAtts group to include type and wsd
                attributes.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="type" type="xs:string"/>
        <!-- 
        <xs:attribute name="wsd" type="xs:string"/>
        -->
        <xs:attribute name="reg" type="xs:string"/>
        <xs:attribute name="orig" type="xs:string"/>
    	<!-- 0.4 added affix attribute -->
    	<xs:attribute name="affix" type="xs:string"/>    	
    </xs:attributeGroup>
    <!-- Base class for ana elements. -->
    <xs:complexType name="class.ana" mixed="false">
        <xs:complexContent mixed="false">
            <xs:extension base="xces:class.global">
                <xs:attributeGroup ref="xces:a.ana"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="class.ana.mixed" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.global.mixed">
                <xs:attributeGroup ref="xces:a.ana"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- Text elements -->
    <xs:complexType name="class.anaString">
        <xs:complexContent>
            <xs:extension base="xces:class.string">
                <xs:attributeGroup ref="xces:a.ana"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="cesAnaType">
        <xs:complexContent>
            <xs:extension base="xces:class.ana">
                <xs:sequence>
                    <xs:group ref="xces:headerGroup" minOccurs="0"/>
                    <xs:element name="chunkList" type="xces:chunkListType"/>
                </xs:sequence>
                <xs:attribute name="doc" type="xs:string"/>
                <xs:attribute name="version" type="xs:string" use="required"/>
                <xs:attribute ref="xml:base"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="chunkType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Contains a series of sentences (marked with
                &lt;s&gt; tags), a series of tokens (marked with &lt;tok&gt;tags), a
                series of paragraph-like elements marked with &lt;par&gt; tags), or "plain
                text" data (PCDATA), which is marked with &lt;data&gt; tags.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.ana">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="tok" type="xces:tokType" maxOccurs="unbounded"/>
                    <xs:element name="s" type="xces:sType"/>
                    <xs:element name="par" type="xces:parType" maxOccurs="unbounded"/>
                    <xs:element name="event" type="xces:eventType" maxOccurs="unbounded"/>
                    <xs:element name="shift" type="xces:shiftType" maxOccurs="unbounded"/>
                    <xs:element name="a" type="xces:annotationType" maxOccurs="unbounded"/>
                </xs:choice>
                <xs:attribute ref="xml:base"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="annotationType" mixed="false">
        <xs:complexContent mixed="false">
            <xs:extension base="xces:class.ana">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:any namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:attribute name="from" type="xs:string"/>
                <xs:attribute name="to" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="chunkListType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Contains one or more "chunks" of
            annotation.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.ana">
                <xs:sequence maxOccurs="unbounded">
                    <xs:element name="chunk" type="xces:chunkType"/>
                </xs:sequence>
                <xs:attribute ref="xml:base"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ctagString">
        <xs:annotation>
            <xs:documentation xml:lang="en">Contains a corpus tag, when this tag appears within the
                &lt;lex&gt; element, it gives the corpus tag associated with the
                accompanying morphosyntactic information.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.anaString">
                <xs:attribute name="certainty" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="disambType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Groups one or more disambiguated corpus tags and/or full
                morphosyntactic descriptions associated with the token.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.ana">
                <xs:sequence maxOccurs="unbounded">
                    <xs:element name="ctag" type="xces:ctagString"/>
                    <xs:element name="msd" type="xces:class.string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="lexType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Groups one or more alternative sets of morphosyntactic
                information associated with the token.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.ana">
                <xs:sequence>
                    <xs:element name="base" type="xces:class.string"/>
                    <xs:element name="msd" type="xces:class.string" minOccurs="0"/>
                    <xs:element name="ctag" type="xces:ctagString"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="parType">
        <xs:annotation>
            <xs:documentation xml:lang="en">An XLink simple link that marks paragraph boundaries.
                Contains a series of &lt;tok&gt; elements, a series of &lt;s&gt;
                elements, or a series of &lt;data&gt; elements--or any inter-mixture of
                these elements.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xces:class.ana">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="tok" type="xces:tokType"/>
                    <xs:element name="s" type="xces:sType"/>
                    <xs:element name="event" type="xces:eventType"/>
                </xs:choice>
                <xs:attributeGroup ref="xces:simpleLinkAtts"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--
	<xs:complexType name="sType" mixed="false">
		<xs:annotation>
			<xs:documentation xml:lang="en">An XLink simple link that marks sentence boundaries. Contains a series of tokens or &lt;data&gt; elements; nested sentences may also appear. This element may also contain PCDATA in cases where tokens have not been marked.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="xces:class.ana">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="tok" type="xces:tokType"/>
				</xs:sequence>
				<xs:attributeGroup ref="xces:simpleLinkAtts"/>
				<xs:attribute name="next" type="xs:IDREF"/>
				<xs:attribute name="prev" type="xs:IDREF"/>
				<xs:attribute name="broken" default="no">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="yes"/>
							<xs:enumeration value="no"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->
    <!-- 0.4 Redefined tokType so msd and base elements are now attributes 
    <xs:complexType name="tokType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">An XLink simple link that contains a
                token, consisting of its orthographic form in the original
                document, followed optionally by disambiguated corpus tag and/or
                one or more alternative sets of morphosyntactic information
                associated with the token.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:class.ana.mixed">
                <xs:choice>
                    <xs:element name="orth" type="xces:class.string"/>
                    <xs:choice>
                        <xs:sequence>
                            <xs:element name="disamb" type="xces:disambType"
                                minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="lex" type="xces:lexType"
                                minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:sequence>
                            <xs:element name="base" type="xces:class.string" minOccurs="0"/>
                            <xs:element name="ctag" type="xces:ctagString" minOccurs="0"/>
                            <xs:element name="msd" type="xces:class.string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:choice>
                    <xs:element name="type" type="xces:class.string" minOccurs="0"/>
                    <xs:element name="value" type="xces:class.string" minOccurs="0"/>
                    <xs:element name="ann" minOccurs="0">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="xces:class.string">
                                    <xs:attribute name="type" type="xs:string"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    
                </xs:choice>
                <xs:attributeGroup ref="xces:simpleLinkAtts"/>
                <xs:attribute name="class" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    -->
    <xs:complexType name="tokType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">An XLink simple link that contains a token, consisting
                of its orthographic form in the original document, followed optionally by
                disambiguated corpus tag and/or one or more alternative sets of morphosyntactic
                information associated with the token.</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="xces:phrase.seq">
                <xs:attribute name="base" type="xs:string"/>
                <xs:attribute name="msd" type="xs:string"/>
                <xs:attributeGroup ref="xces:a.ana"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="shiftType">
        <xs:complexContent>
            <xs:extension base="xces:class.ana">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="tok" type="xces:tokType"/>
                    <xs:element name="event" type="xces:eventType"/>
                </xs:choice>
                <xs:attribute name="feature" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="eventType">
        <xs:complexContent>
            <xs:extension base="xces:class.ana">
                <xs:attribute name="feature" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
